---
import { Icon } from 'astro-icon/components'
import { ProjectData, type ProjectInterface } from '../../utils/ProjectData'
import Subtitle from '../Subtitle.astro'
---

<section class="mt-32">
  <Subtitle>
    <Icon name="tabler:code" size={40} /> Projectos
  </Subtitle>
  <section class="mt-10 grid md:grid-cols-2 lg:grid-cols-3 gap-5">
    {
      ProjectData.map(
        ({
          name,
          description,
          urlImage,
          urlGithub,
          urlWeb,
          stack
        }: ProjectInterface) => (
          <div class="shadow-slate-900 shadow-2xl pb-3 rounded-xl z-10">
            <img
              src={urlImage}
              width="410"
              height="320"
              alt={name}
              class="rounded-xl p-2 lg:w-full"
            />
            <h2 class="text-center font-onest font-semibold text-xl">{name}</h2>
            <p class="text-pretty p-2 text-slate-300 px-2">{description}</p>
            <div class="flex items-center gap-x-2 px-2">
             {
              stack?.map((img)=>(
                <div class="p-1 rounded-lg bg-white/5">
                  <img src={img} alt="icons" width="20" height="20" class="rounded-sm">
                  </div>
              ))
             }
            </div>
            <div class="flex items-center gap-x-3 justify-end px-3">
              <a
                href={urlGithub}
                target="_blank"
                rel="noopener noreferrer"
                class="hover:text-primary text-slate-300 transition-all flex items-center gap-x-1"
              >
                <Icon name="ri:github-fill" size={30} />
                <span>Ver codigo</span>
              </a>
              <a
                href={urlWeb}
                target="_blank"
                rel="noopener noreferrer"
                class={urlWeb === null ? "hidden" : "hover:text-primary text-slate-300 transition-all flex items-center gap-x-1"}
              >
                <Icon name="ri:global-line" size={30} />
                <span>Ir a la web</span>
              </a>
            </div>
          </div>
        )
      )
    }
  </section>
</section>
